.PriceSideBar{
  width: 15%;
  margin: 0 auto;
  margin-top:10px;
  border: 1px solid darkgray;
  padding: 0.5em;
  text-align: left;
  box-shadow: 1px 2px #888888;
  border-radius: 2%;

}

#price-info > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

#pickup-savings{
  color:red;
  font-weight: bold;
}

#est-total{
  font-weight: 900;
  font-size: 20px;
}


#pickup-box{
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    width: 10%;
    font-size: 12px;
    margin-top: 40px;
    padding: 1em;
}
.hidden{
  display: none;
}
.appear{
  display: block;
}