.PriceSideBar{
  width: 15%;
  margin: 0 auto;
  border: 1px solid darkgray;
  padding: 0.5em;
}

#price-info > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

#pickup-savings{
  color:red;
  font-weight: bold;
}

#est-total{
  font-weight: 900;
  font-size: 20px;
}